.page {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
  min-height: 100%;
}
.centerContent {
	display: grid;
	place-items: center;
}
.full-width {
  /* make full width */
  width: 100vw; /* causes scrolling */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
}